.wrap-gallery{
	background: @white;
}
.gallery{
	text-align: justify;
	&:after{
		display: inline-block;
		width: 100%;
		content: "";
		text-align: justify;
	}
	&__item{
		display: inline-block;
		text-align: justify;
		position: relative;
		background: #fbfaf8;
		padding-bottom: 30px;
		width: 370px;
		margin-top:30px;
	}
	&__paranja{
		display: none;
		position:absolute;
	}
	&__photo-title{
		font-weight:500;
		font-size: 20px;
		color:@lightcolor1;
		text-transform: capitalize;
		padding:30px 0 0 30px;
		position: relative;
		margin:0;
		&:before{
			content: ''; 
		    position: absolute;
		    left: 20px; top: -35px;
		    border: 20px solid transparent;
		    border-bottom: 15px solid #fbfaf8;
		}
	}
}
.gallery::after {
  display: inline-block;
  width: 100%;
  content: "";
  text-align: justify;
}
.gallery__item{
	display: inline-block;
	text-align: justify;
	position: relative;
	background: #fbfaf8;
	padding-bottom: 30px;
	width: 370px;
	margin-top:30px;
	}



.gallery__paranja{
	display: none;
	position:absolute;
}

.gallery__photo-title{
	font-weight:500;
	font-size: 20px;
	color: #c7b299;
	text-transform: capitalize;
	padding:30px 0 0 30px;
	position: relative;
	margin:0;
}
.gallery__photo-title::before {
    content: ''; 
    position: absolute;
    left: 20px; top: -35px;
    border: 20px solid transparent;
    border-bottom: 15px solid #fbfaf8;
    
    
   }
.gallery__description{
	padding-left:30px;
	color: #dcdcdb;
}
.photo-gallery__button{
	display: block;
	text-align: center;
	margin:40px auto 80px;
	width: 100px;
	padding:20px 35px;
	
}

/* posts*/
.posts__header {
	text-align: center;
	width: 750px;
	margin:0 auto;
}
.posts__title{
	margin-top: 70px;
}
.posts_description{
	margin-bottom: 0;
}
.gallery__date {
	position:absolute;
	display: inline-block;
	top:0;

}
.gallery__title{
	padding-left:30px;
}
.gallery__photo-title_post{
	font-size: 14px;
	color: #c7b299;
	position: relative;
	padding-left: 30px;

}

.gallery__photo-title_post::after{
	content:'';
	border:5px solid transparent;
	border-left:5px solid #c7b299;
	position: absolute;
	top:5px;
	right: -15px;

}
.photo-gallery__buttons {
	text-align: center;
	font-size: 30px;
	margin-top: 40px;
	color:#cebba5;
	margin-bottom: 80px;
	
}
.photo-gallery__buttons a{
	border-radius: 100%;
	background: -webkit-radial-gradient(circle closest-side,rgba(0,0,0,0) 100%, #d3c1ad 100% );
	background: radial-gradient(circle closest-side,rgba(0,0,0,0) 80%, #d3c1ad 100% );
	display: inline-block;
	width:30px;
	height: 30px;
	vertical-align: top;
	line-height: 0.8;
	font-weight: 500;
}
.photo-gallery__buttons a:hover{
	background: radial-gradient(circle closest-side,rgba(0,0,0,0) 80%, #d4d4d4 100% );
	cursor: pointer;
	color: #d4d4d4;
}
.photo-gallery__button_prev{

}
.photo-gallery__button_next{}

/* rewards*/
.rewards {
	background:#3c3432 url('../images/rewards_bg.jpg') top center no-repeat;
	min-height: 489px;

}
.rewards__wrap{
	text-align: center;
	padding:140px 30px;
	vertical-align: bottom;
}
.rewards__item {
	display: inline-block;
	margin-right:90px;
	vertical-align: middle;
}
.rewards__item:last-child{
	margin-right:0;
}
.rewards__img{
	vertical-align: bottom;
}