.projects{
	width:770px;
	padding:80px 200px 10px;
	text-align:center;
	margin:0 auto;
}	
.project-table__title{
	font-weight: 600;
	font-size: 30px;
	color:#555;
}
.project-table__description{
	font-size: 16px;
}
/* navigation*/
.project-table__nav{
	padding-top:40px;
	
}
.project-table__nav-item{
	display: inline-block;
	margin-left:10px;
}
.project-table__nav-link:first-child{
	padding:10px 25px;
}
.project-table__nav-link{
	color:#9b9b9b;
	
	padding: 10px 17px;
	border:1px solid #ebebeb;
	border-radius: 3px;
}
.project-table__nav-link:hover{
	color:#fff;
	background: #998675;
}
