.services_links {
	
}
.services-references{
	
	
}
.services-references_light {
	padding-top:80px;
}
.services-references__item{
	display: inline-block;
	width:240px;
	padding: 0 30px 0 0;
	text-align: center;
	vertical-align: top;
	}
.services-references__item:last-child{
	padding-right:0;
	width: 270px;
}	
.services-reference__link{
	font-weight:600;
	font-size:22px;
	color:#555;
	vertical-align: bottom;
	padding-top:70px;
	display: inline-block; 
}

.services-reference__link_pencil{
	background: url('../images/serv_pencil.png') top center no-repeat;
}
.services-reference__link_book{
	background: url('../images/serv_book.png') top center no-repeat;
}
.services-reference__link_load{
	background: url('../images/serv_load.png') top center no-repeat;
}
.services-reference__link_case{
	background: url('../images/serv_case.png') top center no-repeat;
}
.services-reference__text{
	color:#8c8c8c;
	font-size: 14px;
}
.services-reference__link:hover{
	color:#c7b299;


}

/*  Bottom reference  */
.services-references__wrap{
	min-height:300px;
	background: #221c1a;
	background: linear-gradient(to right, #221c1a, #4e3427 );
	overflow:hidden;
}
.services-references_dark{
	padding-top:70px;
}
.dark{
	font-size: 48px;
	color:#fff;	
	font-family: Arial, sans-serif;
	font-weight: 300;
	position: relative;
}
.dark::after{
	content:'';
	display: block;
	background: #fff;
	height:2px;
	width:30px;
	position: absolute;
	left:35%;
	bottom:-35%;

}
.services-reference__link_clients {
	background: url(../images/serv_client.png) center top no-repeat;
}
.services-reference__link_cofe {
	background: url(../images/serv_cofe.png) center top no-repeat;
}
.services-reference__link_comment {
	background: url(../images/serv_comment.png) center top no-repeat;
}
.services-reference__link_heart {
	background: url(../images/serv_heart.png) center top no-repeat;
}
.services-references_dark .services-reference__text{
	color:#c7b299;
	margin:0;
}