/*@import url('legend.less');*/
@import url(http://allfont.net/allfont.css?fonts=montserrat-light);
@import url('services.css');
@import url('themes.css');
@import url('projects.css');
@import url('gallery.css');
@import url('briefing.css'); /* только пока для удобства - потом перенести в <link>*/

/*
    font-family: 'Roboto', sans-serif; 400

	font-family: 'Raleway', sans-serif; 300,400,500,600,700,800
	font-family: 'Montserrat Light', arial; Montserrat-UltraLight
*//*
@font-face {
    font-family: 'Montserrat UltraLight'; /* Имя шрифта */
  /*  src: url(fonts/Montserrat-UltraLight.otf); /* Путь к файлу со шрифтом */
   /*}  лучше через link и посмотреть не заменит ли montserrat- hairline
*/
html, body{ margin: 0; 
	padding:0;
} 
img {
	border:none;
}
ul {margin: 0;
 	padding: 0;
	list-style: none;
}
a{
	text-decoration: none;
	color:#fff;
}
body {
	font-family:Raleway, sans-serif;
	font-weight:300;
	font-size:14px;
	color:#8c8c8c;
}
h1{
	margin:0;
	padding: 0;
}
.wrap {
	background: #fff;
}
.layout{
	width:1170px;
	margin:0 auto;
	position: relative;
}
/* HEADER */

.wrap-header{
	height:1024px;
	background-color:#30363c;
	background: #454442 url('../images/header_bg.jpg') top center no-repeat;
	}
.header{
	width:1170px;
	margin:0 auto;
	padding:40px 0;
	height:944px;
	/*/position: relative;*/
}
.header__logo-link {
	background: url(../images/logo_images.png)  no-repeat;
	/*font-family: 'Montserrat Light', sans-serif;*/
	font-weight:400;
	color:#fff;
	font-size: 34px;
	vertical-align: top;
	width: 118px;
	padding:10px 0 5px 64px;
	
}
/* header__menu */
.search{
	float:right;
	height:40px;
	padding-top: 5px;
}
.search__item {
	float:right;
	margin-right: 25px;
}

.main_nav {
	float:right;
	padding:10px 35px 0 0;
}

.menu__item {
	display: inline-block;
	color: #fff; 
	text-align: center;
	margin-left: 30px;
}
.menu__link{
	color:#fff;
	font-weight: 400;

}
.menu__link:hover{
	color:#bfab94;
}

/* header title*/
.start-title{
	/*display: inline-block;*/
	margin:0 auto;
	margin-top: 287px;
	color:#fff;
	width:600px;
	text-align: center;
}
.start-title__prologue{
	font-size: 26px;
	font:500 26px Raleway,sans-serif;
	margin-bottom:15px;
	
}
.start-title__inscription{
	font:800 36px Raleway, sans-serif;
}
.start-title__description {
	margin:10px 0 50px 0 ;
	font-weight: 300;

}

.start-title__button {
	display: inline-block;
}
.similar-button{
	background: #998675;
	color:#fff;
	font:800 14px Raleway, sans-serif ;
	padding:20px 35px;
	border:none;
	border-bottom:3px solid #736357;
	border-radius: 3px;
	text-transform: uppercase;

}
.listing-photos {
	text-align: center;
	margin-top:350px;
}
.listing-photos__item{
	display: inline-block;
	width:12px;
	height:12px;
	background: #8e8f91;
	border-radius: 100%;
	margin-left:12px;
	color:#929292;
}
.listing-photos__item:hover{
	width:16px;height:16px;
	background: -webkit-radial-gradient(circle closest-side,rgba(0,0,0,0) 60%, #d3c1ad 100% );
	background: radial-gradient(circle closest-side,rgba(0,0,0,1) 60%, #d3c1ad 80% );
	cursor:pointer;
	vertical-align: top;
}
/*END HEADER*/

/* video*/
.video{
	text-align: center;
	background: #30363c;
}

/*mobile-compare*/
/*<div class="wide">
		<div class="mobile-compare">
			<div class="mobile-compare__info">
				<h2 class="mobile-compare__title"> Excellnet for mobile </h2>
				<p class="mobile-compare__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia cumque fugiat explicabo dolorum, nesciunt distinctio eius, nulla. Cumque totam officia fuga sint provident distinctio sunt numquam, voluptate repellendus consectetur illum!</p>
				<ul class="mobile-compare__list">
					<li class="mobile-compare__item">Lorem ipsum dolor sit amet</li>
					<li class="mobile-compare__item">Lorem ipsum dolor sit amet</li>
					<li class="mobile-compare__item">Lorem ipsum dolor sit amet</li>
					<li class="mobile-compare__item">Lorem ipsum dolor sit amet</li>
				</ul>
			</div>	
		</div>
	</div>	*/
.wide{
	background: #fbfaf8;
}
.mobile-compare {
	text-align: right;
	background: url('../images/mobile.jpg') 0 100% no-repeat;
	
	min-height:620px;
}
.mobile-compare__info{
	margin-top:200px;
	text-align: left;
	display: inline-block;
	width: 650px;
}
.mobile-compare__title{
	margin:0;
	font-size: 30px;
	font-weight: 600;
	padding-bottom: 20px; 
}
.mobile-compare__description{
	font-size: 16px;
	text-align: justify;
	margin-bottom: 30px;
}
.mobile-compare__list{
	padding-left:100px;
}
.mobile-compare__item {
position: relative;
margin-bottom: 10px;
}
.mobile-compare__item:before {
	position: absolute;

	content:'\203A';
	border-radius: 100%;
	background: #c7b299;
	/*padding:0 8px  ;*/
	font-weight: 700;
	color:#fff;
	left:-50px;

	font-size: 20px;
	line-height: 0.8;
	vertical-align: middle;
	display: block;
	width:20px;
	height: 20px;
	text-indent:7px;

}


/* footer*/

.footer{
	background: #111;
	height: 110px;
	position:relative;
	color:#434343;
}
.footer a{
	color:#434343;	
}
.copyright, .created-by,  .stuff, .stuff__item {
	display: inline-block;
	vertical-align: middle;

}
.copyright::before{
	 content:'';
    display: inline-block;
    height: 110px;
    vertical-align: middle;
    margin-right: -0.25em;
}

.created-by{
	position:absolute;
	right:0;
	top:50px;
}
/*<div class="copyright"><a href="" class="copiright__link">Waxom</a></div>
			<div class="stuff">
				<ul class="stuff__nav">
					<li class="stuff__item"><a href="" class="stuff__link">Privacy policy</a></li>
					<li class="stuff__item"><a href="" class="stuff__link">Faq</a></li>
					<li class="stuff__item"><a href="" class="stuff__link">Support</a></li>
				</ul>
			</div>
			<div class="created-by">
				<span class="created-by__desc">Designed by</span>
				<a href="" class="created-by__link">Some studio</a>
				<span class="created-by__desc">Only on</span>
				<a href="" class="created-by__link"> Some place</a>		
			</div>*/

.copyright__link{
	color:#575757;
	padding-right: 15px
}
.stuff__item{
	border-left:1px solid #252525;
	padding-left:10px;
}
.stuff__item:nth-child(even) a{
	color:#bba790;
	text-transform: uppercase;
}
.created-by__desc {
	padding-left:15px;
	border-left:1px solid #252525;

}
.created-by .created-by__link {
	color:#959595;

}
.created-by__link:first-child{
	padding-right:15px;
}





