
.themes {
	background: #fbfaf8;
}	
.themes__represent{
	
	text-align: center;

	}
.themes__title{
	text-transform: capitalize;
	font-size: 30px;
	font-weight: 600;
	color:#6b6b6b;
	margin:80px auto 30px;
	display: inline-block;
}	
.themes__description{
	color: #8c8c8c;
	font-size: 16px;
	margin:0 auto 40px;
	display: inline-block;

}
.themes__photos {
	
	position: relative;
	margin-left:-30px;
	margin-right:-30px;
	vertical-align: top;
	

}
.themes__img{
	vertical-align: bottom;

}
.themes__purchase{
	min-height:150px;
	background: #221c1a;
	background: linear-gradient(to right, #221c1a, #4e3427 );
	overflow:hidden;
	/*margin-top:-16px; /* это мне не очень нравится но vertical align не хочет работать */
}

.themes__wrap{
	
}		
.themes__purchase-allure{
	text-align: left;
	padding:40px 0;
	width:580px;
}
.themes__purchase-title{
	font-size: 28px;
	color:#fff;
	text-transform: capitalize;
	margin:0;
	font-weight: 400;
}
.themes__purchase_first-word{
	color:#c7b299;
}
.themes__purchase-description{
	font-size: 18px;
	color: #4c423f;
	margin:0 0 15px 0;
	display: inline-block;
	
}
.themes__purchase-buylink{
	display:block;
    float:right;
	
	margin-top:50px;
	
}