.header{
	&__nav{
		@include container(nest);
		@include susy-clearfix;
	}
}
// $iphone -> $iphone-middle
@include susy-breakpoint($iphone-middle){
	.header{
	&__nav{
		
		@include layout(7 after 1/4 nest);
		padding-top:25px;
		position: relative;
		&-logo{
			//@include span(1);
			position:absolute;
			top:10px;
			width: 116px;
			height: 117px;
			background: url(#{$images}header-logo.png) top left no-repeat;	
		}

	}
	&__menu{
		@include span (1 of 2 last);
		//@include push(1);

		&-item{
			@include span(1 of 1);
			text-align: center;
		}
		&-link{
			text-transform: uppercase;
		}
	}
	&__login{
		@include span (1 of 3);
		text-align: center;
		position:absolute;
		top:-59px;
		left:10px;
		&-sign{
			@include span(1 of 1);
			
		}
		&-register{
			@include span (1 of 1);
			text-indent:13px;
			
		}
	}
	&__form{
		&_wrap{
			margin-top:40px;
			//padding:1% 1% 0;
			padding:10px 10px 0;

			@include span(2 of 3 );
			@include push(1);
		}
		&-submit{
			height: 20px;
			position: absolute;
			width:80px;
			text-align:left;
			top:1px;
			right:0;
		}
	}
}
}
// TABLET
@include susy-breakpoint($tablet){
	.header{
		&__nav{
			@include container();
			@include layout(12 of 12);
			&-logo{
			position:absolute;
			width: 116px;
			height: 117px;
			background: url(../images/header-logo.png) no-repeat;
			left:10px;
		}
		
		}
		
		&__menu{
			padding-top:20px;
			@include span(12 of 12 nest);
			&-item{
				@include span(2 of 12 1/8);
				text-align: center;
				&:first-child{
					//@include span(1);
					@include push(1.2);

				}
				&:nth-child(3){
					@include span(3 of 12 1/8);
				}
				&:last-child{
					@include span(2 last);
				}
			}
		}
		&__login{
			@include span(2 of 7 last);
			&-sign{
				@include span (1 of 1);
				text-indent:30px;
			}
			&-register{
				@include span (1 of 1);
				text-indent:30px;
			}
		}
		&__form{
			&_wrap{
				padding:10px 10px 0;
				@include span(8 of 12);
				@include push(2);
			}
			&-submit{
				position:absolute;
				top:1px;
				right:2px;
				width:80px;
				padding-right:20px;
				height:20px;
			
			}
		}
	}

}
// ORIG
@include susy-breakpoint($orig){
	.header{
	&__nav{
		
		@include layout(7 after 1/4);
		padding-top:40px;
		position: relative;
		&-logo{
			//@include span(1);
			position:absolute;
			top:10px;
			width: 116px;
			height: 117px;
			background: url(#{$images}header-logo.png) top left no-repeat;	
		}

	}
	&__menu{
		//@include span (5 nest);
		//@include push(1);

		&-item{
			@include span(1 of 7 1/8);
			
			&:first-child{
				@include span(1);
				@include push(1.2);

			}
		}
		&-link{
			text-transform: uppercase;
		}
	}
	&__login{
		@include span (1 of 7 last);
		text-align: center;

		&-sign{
			@include span(1 of 1);
			
		}
		&-register{
			@include span (1 of 1);
			
		}
	}
	&__form{
		&_wrap{
			margin-top:40px;
			//padding:1% 1% 0;
			padding:10px 10px 0;

			@include span(3.5 );
			@include push(1.75);
		}
		&-submit{
			position:absolute;
			top:1px;
			right:2px;
			width:80px;
			padding-right:20px;
			height:20px;
			
		}
	}
}
}


